<nav class="$nav_css_class container" id="navigation" role="navigation">
	<ul aria-label="#language ("site-pages")" role="menubar" id="menuBar">		
		#foreach ($nav_item in $nav_items)
			#set ($nav_item_attr_has_popup="")
			#set ($nav_item_attr_selected="")
			#set ($nav_item_css_class = "")

			#if ($nav_item.isSelected())
				#set ($nav_item_attr_selected="aria-selected='true'")
				#set ($nav_item_css_class = "selected")
				
				#set ($currentPage = $nav_item)
				#set ($selectedMainMenu = $nav_item.getName())
			#end

			#if ($nav_item.hasChildren())
				#set ($nav_item_attr_has_popup="aria-haspopup='true'")
			#end

			<li class="$nav_item_css_class" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation">
				<a aria-labelledby="layout_$nav_item.getLayoutId()" href="$nav_item.getURL()" $nav_item_attr_has_popup $nav_item.getTarget() role="menuitem">
					<span>$nav_item.getName()</span>
				</a>
				
				#if ($nav_item.hasChildren())
					<span class="mainCategory" onClick="showChildMenu(layout_$nav_item.getLayoutId(), this)"></span> 
				#end

				#if ($nav_item.hasChildren())
					<span class="toggle-mobile mobile">
						<i class="fa fa-angle-down"></i>
					</span>
					<div class="child-menu">
						<ul role="menu">
							#foreach ($nav_child in $nav_item.getChildren())
								#set ($nav_child_attr_selected="")
								#set ($nav_child_css_class = "false")
	
								#if ($nav_child.isSelected())
									#set ($nav_child_attr_selected="aria-selected='true'")
									#set ($nav_child_css_class = "selected")
								#end
	
								<li class="$nav_child_css_class" id="layout_$nav_child.getLayoutId()" $nav_child_attr_selected role="presentation">
									<a aria-labelledby="layout_$nav_child.getLayoutId()" href="$nav_child.getURL()" $nav_child.getTarget() role="menuitem">
										$nav_child.getName()
									</a>
								</li>
							#end
						</ul>
					</div>
				#end
				
	
			</li>
		#end
	</ul>
</nav>

<script>
function showChildMenu(elementID, obj) {

	var jElement = $(elementID).find("div.child-menu");
    if (!jElement.hasClass("visible")) {
        jElement.addClass("visible");
        $(obj).addClass("open");
    } else {
        jElement.removeClass("visible");
        $(obj).removeClass("open");
    }
}

</script>
