.result-header {
  margin-top: 30px;
  background-color: #800001;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 15px; }

.result-wrapper {
  text-align: center;
  border: 2px solid #efecec;
  border-top: none; }

.single-doctor {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed #efecec;
  padding-bottom: 10px; }

.divider {
  margin-left: 5px;
  margin-right: 5px; }

.doctor-name {
  font-weight: 600;
  text-transform: uppercase; }

.single-visit-wrapper {
  cursor: pointer; }

.single-visit-wrapper:hover span {
  color: #eb0900; }

.label-visit .bold {
  font-weight: 600;
  margin-left: 10px; }

.label-visit .bold-doctor {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px; }

.label-visit.doctor {
  margin-top: 30px;
  margin-bottom: 20px; }

.theme-red {
  color: #800001 !important; }

.info {
  color: #aba5a5;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 20px; }

.salutem-add-visit form {
  margin-top: 20px; }

.salutem-visit-portlet .alert-success {
  display: none; }

#visitTimePicker {
  border-color: #800001;
  color: #800001;
  font-size: 18px;
  padding: 15px; }

.daterangepicker td.active {
  background-color: #800001 !important; }

.daterangepicker td.active:hover {
  background-color: #800001 !important; }

.single-visit {
  padding: 10px;
  border: 1px solid #efecec;
  margin-bottom: 15px; }

.status span {
  margin-left: 10px;
  text-transform: uppercase;
  padding: 5px; }

.status .pending {
  background-color: #ffda88; }

.status .finished {
  background-color: #38ff47; }

#map {
  height: 200px; }

.form-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #efecec; }

.from-wrapper .theme-red {
  font-size: 20px;
  padding-bottom: 10px; }

.gray, .gray a {
  color: gray !important;
  font-style: italic; }

.horizontal-control-group {
  margin-top: 15px;
  padding-bottom: 10px; }

.current-visit .status {
  padding-bottom: 30px;
  padding-top: 15px;
  font-size: 20px;
  text-transform: uppercase;
  color: #800001; }

.patient-label-data {
  padding-right: 10px;
  font-weight: 600; }

.patient-label img {
  max-height: 150px; }

.map-wrapper {
  margin-top: 30px; }

.queue-block {
  padding: 5px 15px; }

.queue-block .start-time span {
  color: #800001;
  font-weight: 600;
  margin-right: 10px; }

.queue-block .start-time {
  margin: 0px; }

.queue-block .break {
  background-color: #efecec;
  flex: 1;
  padding: 15px; }

.queue-block .visit {
  background-color: #ffd4f8;
  flex: 1;
  padding: 15px; }

.queue-block .status, .queue-block .delay, .queue-block .status-d {
  display: inline-block; }

.queue-block .status {
  padding: 5px;
  text-transform: uppercase;
  width: 20%;
  text-align: center; }

.queue-block p.status-d {
  flex: 1;
  text-align: center; }

.queue-block .status-d span {
  margin-left: 10px; }

.queue-block .status-d.on-time {
  color: green;
  font-weight: 600; }

.queue-block .status-d.delayed {
  color: red;
  font-weight: 600; }

.queue-block .status.finished {
  background-color: #88f988; }

.queue-block .status.my-visit {
  background-color: #ff7b7b; }

.queue-block .status.happening {
  background-color: #8f7bff; }

.queue-block .status.pending {
  background-color: #ffda88; }

.queue-block .status-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px; }

